<div id="header">
  <header>
    Иванова Александра, Р3218, вариант 89432
  </header>
</div>
<table id="main-table">
  <tbody id="main">
  <tr>
    <div id="content-graph">
      <div id="graph">

      </div>
    </div>
    <td class="form-items">
      <form #chooseForm="ngForm" (ngSubmit)="submitForm(chooseForm)">

        <td class="label">
          <label for="x-select">Choose X:</label>
          <div class="x-checkbox-container">
            <div id="x-select" class="select-checkbox-container">
              <div class="x-checkbox" *ngFor="let value of [-3, -2, -1, 0, 1, 2, 3, 4, 5]">
                <input type="checkbox" id="x-select-{{value}}" name="x_select" value="{{value}}" [(ngModel)]="x_select">
                <label for="x-select-{{value}}" class="ml-2">{{value}}</label>
              </div>
            </div>
          </div>

          <div id="y-select-container" class="select-container margin">
            <label for="y-select">Enter Y:</label>
            <div class="select-input-container">
              <div id="y-select-input" class="select-input-container">
                <input type="text" id="y-select" name="y-select" [(ngModel)]="y_select" placeholder="Enter Y">
              </div>
            </div>
          </div>

          <div id="r-select-container" class="select-container margin">
            <label for="r-select-input">Choose R:</label>
            <div class="select-input-container">
              <div id="r-select-input" class="select-radio-container">
                <div class="flex align-items-center" *ngFor="let value of [-3, -2, -1, 0, 1, 2, 3, 4, 5]">
                  <p-checkbox id="r-select-{{value}}" name="r_select" value="{{value}}" [(ngModel)]="r_select"
                              [binary]="true"></p-checkbox>
                  <label for="r-select-{{value}}" class="ml-2">{{value}}</label>
                </div>
              </div>
            </div>
          </div>
          <div id="submit-container" class="margin">
            <button id="submit" type="submit" pButton label="Check"
                    (click)="sendData()"></button>
          </div>
      </form>

      <form>
        <input type="hidden" name="clear" value="1"/>
        <div id="clear-table-container" class="select-container margin">
          <label for="clear-table">You may also</label>
          <button id="clear-table" pButton (click)="clearTable()" label="Clear table">

          </button>
        </div>
      </form>
      <form>
        <div id="return-index-container" class="select-container margin">
          <button id="return-to-index" pButton (click)="logout()" label="Logout"></button>
        </div>
      </form>

    </td>
  </tr>
  </tbody>
</table>

<div id="result-table">
  <p-table [value]="results">
    <ng-template pTemplate="header">
      <tr>
        <th>X</th>
        <th>Y</th>
        <th>R</th>
        <th>Result</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
      <tr>
        <td>{{ result.request.x }}</td>
        <td>{{ result.request.y }}</td>
        <td>{{ result.request.r }}</td>
        <td>{{ result.result }}</td>
      </tr>
    </ng-template>
  </p-table>

</div>


<router-outlet></router-outlet>
