<div id="header">
  <header>
    Иванова Александра, Р3218, вариант 89432
  </header>
</div>
<div id="login">
  <p-tabView>
    <p-tabPanel header="Login">
      <form name="form" (ngSubmit)="login()" #f="ngForm">
        <div class="select-radio">
          <label for="l-username">Username</label>
          <input id="l-username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
        </div>
        <div class="elect-radio">
          <label for="l-password">Password</label>
          <input id="l-password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
        </div>
        <div class="margin">
          <button>Login</button>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</div>
