<div id="header">
  <header>
    Иванова Александра, Р3218, вариант 89432
  </header>
</div>
<div id="login">
  <p-tabView>
    <p-tabPanel header="Login">
      <form name="form" (ngSubmit)="login()" #f="ngForm">
        <div class="select-radio">
          <label for="login-username">Username</label>
          <input id="login-username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel"
                 required/>
        </div>
        <div class="elect-radio">
          <label for="login-password">Password</label>
          <input id="login-password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                 required/>
        </div>
        <div class="margin">
          <button>Login</button>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Register">
      <form name="form" (ngSubmit)="register()" #f="ngForm">
        <div class="select-radio">
          <label for="register-username">Username</label>
          <input id="register-username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel"
                 required/>
        </div>
        <div class="elect-radio">
          <label for="register-password">Password</label>
          <input id="register-password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                 required/>
        </div>
        <div class="margin">
          <button>Register</button>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</div>
<router-outlet></router-outlet>
